/* Home Page Styling */

body {
	overflow-y: hidden;
}

@media (min-width: 800px) {
	#home-container {
		flex-direction: row-reverse;
		justify-content: space-around;
		height: calc(100vh - 100px);
		padding-bottom: 50px;
	}
}

@media (max-width: 800px) {
	#home-container {
		flex-direction: column;
		align-items: center;
		height: calc(100vh - 150px);
		padding-bottom: 100px;
	}
}

#home-container {
	display: flex;
	margin: 0 auto;
	padding-top: 20px;
	position: relative;
	top: 50px;
	overflow: scroll;
}

/* (Logged Out) Home Page Styling */

#home-container-logged-out {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
	height: 100vh;
}

#navbar-logo-logged-out {
	width: auto;
	height: 30px;
	display: flex;
	padding-top: 10px;
}

#navbar-logo-logged-out:hover {
	cursor: default;
}

/* User Card Styling */

@media (min-width: 800px) {
	#user-card-login,
	#user-card-sign-up {
		font-size: large;
		width: 200px;
	}
}

@media (max-width: 800px) {
	#user-card-login,
	#user-card-sign-up {
		font-size: medium;
		width: 150px;
	}
}

#user-card {
	position: relative;
	display: flex;
	flex-direction: column;
}

#user-card-login,
#user-card-sign-up {
	top: 0px;
	position: relative;
	border-color: rgba(0, 0, 0, 0.2);
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
	border-radius: 30px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 40px;
	transition: 0.2s;
	background-color: white;
}

#user-card-login {
	margin-top: 15px;
}

#user-card-login:hover,
#user-card-sign-up:hover {
	top: -5px;
	box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.05);
}

#user-card-icon {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	object-fit: cover;
}

#user-card-top {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

#user-card-top > * {
	position: relative;
	top: 0;
	transition: all ease-in-out 0.25s;
}

#user-card-top > *:hover {
	top: -5px;
}

#user-card-name {
	font-size: larger;
	font-weight: bold;
	color: black;
}

#user-card-username {
	color: rgb(150, 150, 150);
}

#user-card-bottom {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding-top: 10px;
}

#user-card-bottom > * {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	top: 0;
	width: 75px;
	transition: all ease-in-out 0.25s;
}

#user-card-bottom > *:hover {
	top: -5px;
}

#user-card-bottom > * > * {
	margin: 2px 10px;
}

.user-stats-child-num {
	font-weight: bolder;
	font-size: small;
}

.user-stats-child-type {
	font-size: small;
}

#user-card-top > *:hover,
#user-card-bottom > *:hover {
	cursor: pointer;
}
