@media (min-width: 800px) {
	.convo-row {
		font-size: medium;
	}
	.convo-row-right {
		margin-left: 10px;
		width: 100%;
		max-width: calc(100% - 20px);
	}
	#convos-bottom {
		padding-bottom: 60px;
	}
}

@media (max-width: 800px) {
	.convo-row {
		font-size: small;
	}
	#convos-bottom {
		padding-bottom: 150px;
	}
}

#convos {
	position: fixed;
	z-index: 1;
	width: 100vw;
	height: 100vh;
	background-color: white;
	left: 0;
	top: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#convos-top {
	display: flex;
	flex-direction: row;
	margin-top: 60px;
	padding: 20px 0px;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 740px;
}

#convos-user-icon {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	object-fit: cover;
	margin-left: 20px;
}

#convos-title {
	font-size: x-large;
	font-weight: bold;
}

#convos-message-icon {
	width: 25px;
	height: 25px;
}

#convos-message-icon-container {
	font-size: small;
	color: rgb(0, 0, 0, 0.75);
	height: 50px;
	width: 50px;
	border-radius: 50%;
	margin-right: 20px;
	top: 0px;
	position: relative;
	border-color: rgba(0, 0, 0, 0.2);
	border-style: solid;
	border-width: 1px;
	background-color: white;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
	transition: 0.2s;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#convos-message-icon-container:hover {
	top: -5px;
	box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.05);
}

#convos-divider {
	background-color: rgba(0, 0, 0, 0.25);
	height: 1px;
	width: 100%;
	max-width: 740px;
}

#convos-bottom {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	padding-top: 10px;
	max-width: 800px;
	width: 100%;
	overflow-y: auto;
}

.convo-row {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 5px 30px;
	max-width: 740px;
	border-radius: 5px;
}

.convo-row-left {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 5px;
	border-radius: 5px;
	white-space: nowrap;
}

.convo-name {
	font-weight: bold;
}

.convo-row-right {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 5px;
	border-radius: 5px;
	font-style: italic;
	color: grey;
}

.convo-row:hover {
	background-color: rgba(0, 0, 0, 0.05);
}

.convo-row:link,
.convo-row:visited,
.convo-row:active,
.convo-row:hover {
	text-decoration: none;
	color: inherit;
}

.convo-image {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	object-fit: cover;
}

.convo-text {
	display: flex;
	flex-direction: column;
	padding: 0 5px 0 10px;
}

.convo-row-message {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
