/* Post Reel Styling */

@media (max-width: 800px) {
	.single-post-component {
		width: 100vw;
		max-width: 500px;
	}
	.post-image {
		min-width: 250px;
		min-height: 250px;
		object-fit: cover;
		aspect-ratio: 1 / 1;
		max-width: 500px;
		max-height: 500px;
		width: 100%;
	}
	.post-middle {
		height: 300px;
	}
}

@media (min-width: 800px) {
	.single-post-component {
		width: 100vw;
		max-width: 500px;
	}
	.post-image {
		object-fit: cover;
		aspect-ratio: 1 / 1;
		max-width: 500px;
		max-height: 500px;
		width: 100%;
	}
	.post-middle {
		height: 500px;
	}
}

.single-post-component {
	border-radius: 10px;
	box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.1);
	font-size: small;
	z-index: -1;
	margin: 40px 0px;
}

.post-user-link-avatar {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-right: 10px;
	object-fit: cover;
}

.post-top {
	display: flex;
	flex-direction: row;
	padding: 12px 20px;
	justify-content: space-between;
	align-items: flex-end;
}

.post-user-link {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: left;
}

.post-user-link-name {
	font-weight: bold;
	color: black;
}

.post-user-link-username,
.post-date {
	color: rgb(150, 150, 150);
}

.post-date {
	padding-bottom: 5px;
}

.post-user-link:link,
.post-user-link:visited,
.post-user-link:active,
.post-user-link:hover {
	text-decoration: none;
}

.post-middle:hover {
	cursor: pointer;
}

.post-bottom {
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 12px 20px;
}

.post-likes {
	font-weight: bold;
	display: inline-block;
	color: inherit;
	width: fit-content;
}

.post-likes:hover {
	cursor: pointer;
	color: grey;
	text-decoration: none;
}

.post-likes:link,
.post-likes:visited,
.post-likes:active {
	text-decoration: none;
}

.post-bottom > * {
	padding: 0px 0px 5px 0px;
}

.post-view-comments:link,
.post-view-comments:visited,
.post-view-comments:active,
.post-view-comments:hover {
	text-decoration: none;
	color: rgb(150, 150, 150);
}

.post-text-parent {
	display: flex;
	flex-direction: row;
}

.post-text-name {
	padding-right: 8px;
	font-weight: bold;
	min-width: 50px;
}

.post-text-name:link,
.post-text-name:visited,
.post-text-name:active,
.post-text-name:hover {
	text-decoration: none;
	color: black;
}

.single-post-component .post-comment {
	padding-bottom: 5px;
	display: flex;
	flex-direction: row;
}

.single-post-component .post-comment-name {
	padding-right: 8px;
	font-weight: bold;
	min-width: 50px;
}

.single-post-component .post-comment-name:link,
.single-post-component .post-comment-name:visited,
.single-post-component .post-comment-name:active,
.single-post-component .post-comment-name:hover {
	text-decoration: none;
	color: rgb(100, 100, 100);
}

.single-post-component .post-comment-text {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.single-post-component .post-comment-bar {
	padding-top: 10px;
	border-color: rgb(212, 212, 212);
	border-width: 1px 0 0 0;
	border-style: solid;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.single-post-component .post-comment-bar-input {
	border: none;
	width: 100%;
	padding: 0;
}

.single-post-component .post-comment-bar-input:focus {
	outline: none;
}

.single-post-component .post-comment-bar-button {
	border: none;
	background-color: white;
	padding: 0;
	display: flex;
	font-weight: bold;
}

.single-post-component .post-comment-bar-button.active {
	cursor: pointer;
	color: rgb(100, 100, 100);
}

.single-post-component .post-comment-bar-button.inactive {
	cursor: default;
	color: rgb(200, 200, 200);
}

/* Post Reel Link Copied Styling  */

.single-post-component .post-bottom-link-copied {
	display: flex;
	flex-direction: column;
	position: absolute;
	justify-content: center;
	align-items: center;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.75);
	transition: all 0.3s ease-in-out;
}
.single-post-component .post-bottom-link-copied > div {
	font-size: xx-large;
	color: black;
}
.single-post-component .post-bottom-link-copied.active {
	opacity: 1;
	z-index: 1;
}
.single-post-component .post-bottom-link-copied.inactive {
	opacity: 0;
	z-index: -1;
}

/* Post Reel Buttons Styling */

.post-buttons-left > *,
.post-share-button-image {
	height: 25px;
	width: auto;
	cursor: pointer;
	padding-right: 10px;
}

.post-buttons-left {
	display: flex;
	flex-direction: row;
}

.post-save-button {
	height: 25px;
	width: auto;
	cursor: pointer;
}

.post-buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.post-share-button-pop-up {
	position: relative;
	top: 0;
}
